<div id="vote-page">
  <div class="row col-xs-12">
    <img
      style="margin-top: 10rem; min-width: 20rem;"
      src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/544/3576556544_5895c6d6-8741-40d3-9a7a-0ce2774fa4bf.png?cb=1598060511"
    />
  </div>
  <h1>Its Bookie Time!!!</h1>

  <div>
    <form id="vote-form">
      <input placeholder="Your Name" type="text" name="name" />
      <input placeholder="Your Email" type="email" name="email" />
      <div class="form-check-input" id="display-time-slot-container">

      </div>
      <button type="submit">VOTE</button>
    </form>
  </div>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
    placeat obcaecati quos nam fugit minus aliquam recusandae quibusdam illo, at
    facere repudiandae ab provident dignissimos ipsum temporibus, optio laborum
    consectetur.
  </p>
</div>
