<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
  integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg=="
  crossorigin="anonymous"></script>
  <script src="https://code.jscharting.com/2.9.0/jscharting.js"></script>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/load_poll_data.js"></script>
  <script type="text/javascript" src="/scripts/time_manager.js"></script>
  <script type="text/javascript" src="/scripts/helper_url.js"></script>
  <script type="text/javascript" src="/scripts/html.js"></script>
  <script type="text/javascript" src="/scripts/form_helper.js"></script>
  <script type="text/javascript" src="/scripts/object_build_helper.js"></script>
  <script type="text/javascript" src="/scripts/add-timeslot.js"></script>
  <script type="text/javascript" src="/scripts/get_poll_details.js"></script>
  <script type="text/javascript" src="/scripts/copyToClipboard.js"></script>
  <script type="text/javascript" src="/scripts/deleteBookie.js"></script>
  <script type="text/javascript" src="/scripts/jquery_routes_listeners.js"></script>
  <script type="text/javascript" src="/scripts/deleteUser.js"></script>
  <script type="text/javascript" src="/scripts/chart.js"></script>



</head>

<body>
  <div id="html-container" class="col-xs-12">
  </div>
</body>
</html>
