// See: https://sass-lang.com/

html {
  background-color:  rgb(241, 199, 183);
  height: 100%;
  margin: auto;
  width: 100%;
}

html, body {
  margin: 0;
  height: 100%;
  margin: 1rem;
}

#html-container {
    min-height: 100%;
    height: 100%;

  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color:  rgb(241, 199, 183);
  text-align: center;
  align-content: center;

  padding: 2rem;

}

  h1, h2, h3, h4, h5, h6, p {
  color: #244751;

  }

  #post-form-logo {
    margin-top: 8rem;
    min-width: 15rem;
    max-width: 15rem;
  }

  #form-logo {
    margin-bottom: 2rem;
  }

  .time-elements {
    flex-wrap: wrap;
  }

  #create-bookie > img {
    max-height: 10rem;
    margin-bottom: 3rem;
  }

  article > button {

    margin-left: 1rem;

  }

  form {
    padding-left: 3rem;
    display: flex;

    h2 {

      text-align: center;
    }

    h6 {
      margin-left: 2 rem;
      text-align: left;
      font-weight: 300;
    }

    label {
      padding-left: 10 rem;
    }

    input {
      line-height: 1.75rem;
      border-radius: 5px;
      // justify-content:center;
      border: none;
      margin: 0.5rem;
      text-align: center;
      max-width: 90%;

    }

    span {
      margin-top: 0.7rem;
      // margin-left: 0.5rem;
      line-height: 1rem;
    }

    button {
      margin-right: 5rem;
      margin-bottom: 1rem;
    }

    // #time-slot-container {
    //   display: block;
    //   text-align: center;
    // }
  }

  #poll-details {
    border: 1px solid gray;
    border-radius: 1rem;
    margin: 1rem;


    a {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: inline-block;
    max-width: 80%;
    overflow-wrap: break-word;
    }

    h3 {
      margin-top: 1.2rem;
    }


    h4 {
      margin: 1rem;
    }

    h5 {
      margin: 0.5rem
    }
  }

  #bookie-time-slot-container {
    border: 1px solid gray;
    border-radius: 1rem;
    margin: 1rem;

    h3 {
      margin-top: 1.2rem;
    }
  }

  #button-container {
    button{
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 0;
      margin-bottom: 1rem;
      min-width: 8rem;
    }
  }

  .poll-times {
    margin: 1rem;

  }

  #bookie-time-slots {
    display: inline-flex;
  }

  #post-form-logo {
    margin-top: 1rem;;
  }


  #vote-form {
    .vote-control {
      min-width: 15rem;
      max-width: 15rem;
      line-height: 2.5rem;
    }

    button {
      margin-top: 1rem;
    }


    .inline-votes {
      display: block;
    }

  }

  #time-slot-container {
    display: inline-table;
    align-content: center;
  }

  #vote-logo {
    margin-top: 5rem;
    margin-bottom: 1rem;
     min-width: 20rem;
  }

  #chart-container {
    align-content: center;
    max-width: 100%;

  }

  [id*="jsc"] {
    min-width: 80%;


  }

  #results-page {
    text-align: center;
  align-content: center;


      form {
        display: inline;
      }
  }


  #results-logo {
    margin-top: 5rem;
    min-width: 20rem;
    margin-bottom: 2rem;
  }

  #vote-table-container {
    float: right
  }

  #results-page {
    input {
      border-radius: .4rem;
      margin-top: 1rem;
    }

    button {
      margin: 0.5rem;
    }
  }


  #results-total-container {
    display: grid !important;
    align-content: center !important;
    text-align: center !important;
  }
